################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LaiyaLMS/.vs/LaiyaLMS/v16/.suo
/LaiyaLMS/.vs/LaiyaLMS/v17/.suo
/LaiyaLMS/.vs/LaiyaLMS/FileContentIndex/872aecb8-f0a1-415c-96a0-35a17e131cdd.vsidx
/LaiyaLMS/.vs/LaiyaLMS/FileContentIndex/927cdfd7-5725-4262-a28c-86213d549de9.vsidx
/LaiyaLMS/.vs/LaiyaLMS/FileContentIndex/b08e262e-1648-4814-81d4-2358b1c1d05f.vsidx
/LaiyaLMS/.vs/LaiyaLMS/FileContentIndex/cb8ebeb2-c385-43f1-b1ee-75eb761e3f48.vsidx
/LaiyaLMS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LaiyaLMS/obj/Debug/LaiyaLMS.csproj.AssemblyReference.cache
