################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LaiyaLMS/.vs/LaiyaLMS/v16/.suo
/LaiyaLMS/.vs/LaiyaLMS/v17/.suo
