.side-bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #fac495;
    display: block;
    transition: 0.3s;
}

.side-bar a:hover {
    color: #f1f1f1;
}

.side-bar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .side-bar {
        padding-top: 15px;
    }

        .side-bar a {
            font-size: 18px;
        }
}
