.side_bar {
    margin-top: 70px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #750a18;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.side_bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #F7C566;
    display: block;
    transition: 0.3s;
}

.side_bar a:hover {
    color: #f1f1f1;
}

.side_bar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .side_bar {
        padding-top: 15px;
    }

    .side_bar a {
        font-size: 18px;
    }
}
