<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UoVT-LMS-@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/MainTemplate.css">
    <link rel="stylesheet" href="~/Content/css/side_bar.css">
    <link href="~/Content/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/solid.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="site-details">
                <div class="site-logo">
                    <a href="/Home/Index">
                        <img class="site_logo_image" src="~/Content/Temp_Images/logo.png" alt="" srcset="">
                    </a>
                </div>
                <div class="site-name">
                    <a class="site_name_label" href="/Home/Index">LMS-UoVT</a>
                </div>
            </div>
            <div class="user-details">
                <div class="user_name_text">
                    <label class="user_name" for="user" id="user_name_id">User Name</label>
                </div>
                <div class="user_role_text">
                    <label class="user_role" for="user" id="user_role_id">User Role</label>
                </div>
                <div class="user_details_image">
                    <img class="user_image" src="~/Content/Temp_Images/user_image.png" id="user_icon_id" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="side-bar">

            <a href='/Student/Index'><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Student&nbsp;&nbsp;</a>
            <a href="#"><i class="fas fa-user-graduate"></i>&nbsp;&nbsp;Teacher&nbsp;&nbsp;</a>
            <a href="#"><i class="fas fa-book-open"></i>&nbsp;&nbsp;Course&nbsp;&nbsp;</a>
            <a href="#"><i class="fas fa-laptop-code"></i>&nbsp;&nbsp;Exam&nbsp;&nbsp;</a>
            <a href="#"><i class="fas fa-book-reader"></i>&nbsp;&nbsp;Result&nbsp;&nbsp;</a>
        </div>
        <div class="main-container">
            @RenderBody()
        </div>
    </div>
    <script src="~/Content/js/mainPage.js"></script>

</body>
</html>