<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/MainTemplate.css">
    <link rel="stylesheet" href="~/Content/side_bar.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="site_details">
                <span style="font-size: 30px; cursor: pointer; color: white; padding-top: 5px; padding-left: 5px; padding-right: 5px" onclick="openNav()">&#9776;</span>
                <div class="site_logo">
                    <img class="site_logo_image" src="~/Content/Temp_Images/logo.png" alt="" srcset="">
                </div>
                <div class="site_name">
                    <label class="site_name_label" for="site">LMS-UoVT</label>
                </div>
            </div>
            <div class="user_details">
                <div class="user_name_text">
                    <label class="user_name" for="user" id="user_name_id">User Name</label>
                </div>
                <div class="user_role_text">
                    <label class="user_role" for="user" id="user_role_id">User Role</label>
                </div>
                <div class="user_details_image">
                    <img class="user_image" src="~/Content/Temp_Images/user_image.png" id="user_icon_id" alt="" srcset="">
                </div>
            </div>
        </div>
        <div class="side_bar" id="mySidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Student Detials</a>
            <a href="#">Teacher Details</a>
            <a href="#">Course Details</a>
            <a href="#">Class Details</a>
            <a href="#">Batch Details</a>
            <a href="#">Exam Details</a>
            <a href="#">Result Details</a>
        </div>
        <div class="main_container">
            @RenderBody()
        </div>
        <div class="footer">

        </div>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

</body>
</html>